.sidebar {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  border-right: 1px solid rgb(226, 226, 226);
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.sidebar__header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}

.sidebar__header_right .MuiSvgIcon-root {
  color: #919191;
  font-size: 24px;
}

.sidebar__search {
  display: flex;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 25px;
}

.sidebar__chat_search {
  flex: 1;
  background-color: white;
}
