.app {
  display: grid;
  align-items: center; /* column position */
  justify-content: center; /* row position */
  height: 100vh;
  background-color: #ededed;
}

.app__body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
